# Use the exact host from your Prisma string
DB_URL=DB_URL

# Use the full username before the colon in your Prisma string
DB_USERNAME=DB_USERNAME

# Ensure there are no spaces or quotes
DB_PASSWORD=DB_PASSWORD

# JWT Secret for authentication
JWT_SECRET=JWT_SECRET

# Server port
SERVER_PORT=SERVER_PORT_NUMBER

# Session timeout in milliseconds
JWT_EXPIRATION=JWT_EXPIRATION

# AWS credentials
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET_NAME=AWS_S3_BUCKET_NAME
AWS_REGION=AWS_REGION