name: Finaltica Backend CI

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**' 
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      working-directory: ./backend
      run: mvn clean package -DskipTests

  
    - name: Tests
      working-directory: ./backend
      run: mvn clean test
 

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: finaltica-backend-jar
        path: backend/target/*.jar